CONTROL_PIN=changeme
WATCHTOWER_HTTP_API_TOKEN=changeme

GLUETUN_VPN_SERVICE_PROVIDER=changeme
GLUETUN_VPN_TYPE=changeme
GLUETUN_SERVER_COUNTRIES=changeme
GLUETUN_WIREGUARD_PRIVATE_KEY=changeme
GLUETUN_HTTPPROXY_USER=changeme
GLUETUN_HTTPPROXY_PASSWORD=changeme

FLARESOLVERR_TZ=changeme
FLARESOLVERR_PROXY_USERNAME=changeme
FLARESOLVERR_PROXY_PASSWORD=changeme

GITHUB_REPO_USER=changeme